<!DOCTYPE html>

<mat-toolbar color="primary" class="fixed-toolbar">
  <span class="logo-container"
    ><a routerLink="" routerLinkActive="active">
      <img src="cropped-Final_Logo.png" alt="Javi Macs Logo" class="logo"
      matTooltip="Navigate to Home" 
      />
    </a></span>
  <span class="spacer"></span>

  <button mat-button routerLink="" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/menu" routerLinkActive="active">Menu</button>
  <button mat-button routerLink="/contact" routerLinkActive="active">
    Contact
  </button>
  <span class="theme-toggle">
    <mat-icon>light_mode</mat-icon>
    <mat-slide-toggle (change)="onThemeChange($event)"></mat-slide-toggle>
    <mat-icon>dark_mode</mat-icon>
  </span>
</mat-toolbar>
