<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<section class="upcoming">
  <h2>Where We’ll Be Next</h2>
  <!-- <ul>
    <li *ngFor="let loc of locations">
      <strong>{{ loc.date | date:'longDate' }}</strong> — {{ loc.venue }}<br>
      {{ loc.address }}<br>
      {{ loc.start }} – {{ loc.end }}<br>
      <em>{{ loc.details }}</em>
    </li>
  </ul> -->
</section>

</body>
</html>
