<section class="hero">
 <!-- =========== HERO SECTION =========== -->
    <div class="hero-section">
      <h1 class="hero-title"> Cubanos & Gringos</h1>
      <p class="hero-subtitle">
        Our food truck offers a unique blend of Cuban and American foods
      </p>
    </div>
</section>
<!-- <div class="container body-content"> -->
  <!-- =========== ANNOUNCEMENT SECTION =========== -->
  <section class ="announcement">
    <h2 class="announcement-title">Announcements</h2>
    <h3>This Cubana & Her Gringo Are Recharging – Back July 26!</h3>
    <p>
      The Javi Mac’s team is hitting pause for some much-needed rest. We will be taking a break the first three weeks of July. We’re beyond grateful for the support you’ve shown us since day one—it’s been an amazing ride and privilege serving this awesome community. We’ll be back, rested and ready, on Saturday, July 26 at Tractor Supply. Can’t wait to see y’all! </p>
      <br>¡Nos vemos pronto y gracias por todo!
      See you soon and thank you for everything

  </section>
  <!-- =========== UPCOMING SECTION =========== -->
  <section class="upcoming">
    <h2>Where We'll Be Next</h2>
    <app-locations class="upcoming-locations"></app-locations>
  </section>
<!-- </div> -->
